.landingCont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-image: url('../bgImage.jpg');
  background-size: cover;
  background-position: center; */
  background-color: #1b1b1b;
  padding: 20px;  
  color: white;
}

.searchCont {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchBox {
  width: 100%;
  max-width: 600px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
}

.sectionTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.movieRow {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
.movieRow::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.movieCard {
  flex: 0 0 auto;
  width: 200px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.moviePoster {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movieTitle {
  margin-top: 10px;
  font-size: 16px;
  color: white;
}

.suggestions {
  background-color: white;
  position: absolute;
  color: black;
  width: 20%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  z-index: 1001;
}

.suggestionItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.suggestionItem:hover {
  background-color: #f0f0f0;
}
